@media (max-width: 788px) {
    body {
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }

    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .mobile-img {
        display: block;
        position: relative;
    }

    .mobile-img {
        width: 100%;
        height: 50%;
        position: absolute;
    }

    .mobile-img img {
        width: 100%;
        z-index: -1000;
        position: absolute;
    }

    .side-img {
        display: none;
    }

    .cards {
        overflow: hidden;
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 40%;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .card {
        color: #fff;
        position: relative;
        padding: 2rem;
        width: 270px;
        border-radius: 8px;
        height: 170px;
        background-image: url("images/bg-card-front.png");
    }

    .card p {
        font-size: 1.2rem;
        margin-bottom: .1rem;
    }

    .card-1 {
        position: absolute;
        left: 5%;
        top: 5rem;
    }

    .logo-card {
        width: 30%;
    }


    .card-1 .card-data {
        display: flex;
        justify-content: space-between;
        font-size: .8rem;
        width: 13rem;
    }

    .card-1 .data {
        position: absolute;
        bottom: 2.5rem;
    }

    .card-2 .data {
        position: absolute;
        top: 7rem;
        right: 1rem;
    }

    .card-2 {
        position: absolute;
        left: 20%;
        top: 2rem;
        z-index: -1;
    }

    .attribution {
        position: absolute;
        width: 100%;
        bottom: 10px;
        left: 0;
    }
}

@media screen and (min-width: 787px) and (max-width: 1376px) {
    body {
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
    }

    main {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

    .side-img {
        display: none;
    }


    .cards {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-top: 1rem;
    }

    .card {
        color: #fff;
    position: relative;
    padding: 2rem;
    width: 430px;
    border-radius: 8px;
    height: 240px;
    background-image: url("images/bg-card-front.png");
    }

    .card p {
        font-size: 2rem;
         margin-bottom: .5rem;
    }

    .card-1 {
        position: relative;
        left: 0;
        top: 0;
    }

    .card-1 .card-data {
        display: flex;
    justify-content: space-between;
    font-size: .9rem;
    width: 22rem;
    }

    .card-1 .data {
        position: absolute;
        bottom: 2.5rem;
    }

    .card-2 .data {
        position: absolute;
        top: 7rem;
        right: 1rem;
    }

    .card-2 {
        position: relative;
        left: 0;
        top: 0;
    }


    .attribution {
        position: absolute;
        width: 100%;
        bottom: 10px;
        left: 0;
    }
}